.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}
.axis .tick:first-child {
  display: none;
}
.row {
  height: 100%;
}

body {
  background-color: #fcfcfc;
}

.canvas {
  background-color: #fff;

}

body,
div {
  margin: 0;
  border: 0 none;
  padding: 0;
}

